
[MESSAGES CONTROL]
disable=missing-docstring,bad-continuation,too-few-public-methods,no-self-use,broad-except,duplicate-code,locally-disabled,unused-argument,redefined-builtin

[REPORTS]
reports=no

[VARIABLES]
callbacks=cb_,_cb,on_

[TYPECHECK]
ignored-modules=ruamel,netifaces,pyroute2

[BASIC]
good-names=i,j,k,e,f,id
const-rgx=[A-Za-z_][A-Za-z0-9_]*$
function-rgx=[a-z_][a-z0-9_]{2,}$

[FORMAT]
max-line-length=115
